%h1 StackJoeverFlow

= link_to 'Create A Question', new_question_path, class: "btn btn-primary"
= link_to 'Logout', logout_path, data: {confirm: 'Are you sure you want to logout?'}, class: "btn btn-warning"
%br/
%br/
%fieldset
  %legend Community Questions
  - @questions.each do |question|
    = link_to "#{question.title}", question_path(question)
    %br/
    %br/
= paginate @questions
