%br/
%br/
%fieldset
  %legend Community Questions
  .text-center
    - @questions.each do |question|

      %strong= link_to "#{question.title}", question_path(question)
      %br/
      %p= "Posted by: #{question.user.username}"
      %p= "Created at: #{question.created_at}"
      %br/
      %br/
= paginate @questions
